# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
jspm_packages/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Output of 'npm pack'
*.tgz
*.user

# misc
.DS_Store
build
.env
swa-cli.config.json
/.idea/
/.vscode/
/.github/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
