#blocklyDiv {
  height: 500px;
  width: 100%;
}

.container {
  margin: 2%;
  width: 96%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.generator {
  overflow: auto;
  white-space: nowrap;
  border: 1px solid #ddd;
  height: 450px;
  width: 49%;
  padding: 15px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0px 15px 0px;
}

#scroll {
  border: none;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  overflow: scroll;
}